:root {
    /* Primary Color (Elephant): #0e4243; */
    --primary-color: #0e4243;
    --primary-color-lighter: #235F54;
    --primary-color-lightest: #f2f8f8;
    /* Secondary Color (Thunderbird): #c93c20; */
    --secondary-color: #c93c20;
    /* Text Color (Dar): #2b2b2b; */
    --text-color: #2b2b2b;
    /* Text Color (White) */
    --text-color-white: #ffffff;
    /* --background-color: #fbf3f2; */
    --background-color: #fbf3f2;
    /* --background-color-lightgrey: lightgrey*/
    --background-color-lightgrey: hsl(0, 0%, 90%);
    /* --background-color-lightgrey: #C6BEAC; // light beige */
    --sun-yellow: hsl(45, 81%, 63%);
    --sun-red: #f76414;
    --font-heading: 'Ubuntu', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --fs-14: 0.875rem;
    --fs-15: 0.9375rem;
    --fs-16: 1rem;
    --fs-18: 1.125rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-32: 2rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-60: 3.75rem;
    --fs-72: 4.5rem;
    --fs-88: 5.5rem;
    --fs-body: 1rem;
    --container: 69.375rem;
} 
/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-underline-offset: 0.3em;
}


body {
    font-family: var(--font-text), sans-serif;
    background-color: var(--primary-color-lightest);
    font-weight: 200;
    font-size: var(--fs-body);
    line-height: 1,56;
    color: var(--text-color);
    padding-top: 90px;
}
p {
    font-family: var(--font-text);
}
section {
    margin-bottom: 80px;
    margin-top: 80px;
}


#about,
#projects,
#contact {
    padding-top: 100px;
    margin-top: -100px;
}
#home {
    margin-top: 100px;
}

main {
    /* margin-top: 90px; */
    padding: 0 30px;
    max-width: 980px;
    margin: 0 auto;
}


/* styling h1 - h3 */

h1 {
    /* background-color: var(--primary-color); */
    font-family: var(--font-heading);
    font-size: var(--fs-40);
    font-weight: 500;

    line-height: 1.56;
    text-align: left;
    color: var(--primary-color);
    margin: 0;
    margin-bottom: 20px;
}

h2 {
    /* background-color: var(--primary-color); */
    font-family: var(--font-heading);
    font-size: var(--fs-32);
    font-weight: 800;
    line-height: 1.56;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 20px;
}

h3 {
    font-family: var(--font-heading);
    font-size: var(--fs-28);
    font-weight: 700;
    line-height: 1.56;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
h4 {
    font-family: var(--font-heading);
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 1.56;
    text-align: left;
    color: var(--text-color-white);
    margin-bottom: 5px;
}
/* end of styling h1-h3 */

img svg {
    display: block;
}

hr {
    color: var(--primary-color);
}

/* header/navigation styling */
.header {
    width: 100%;
    position: fixed;
    background-color: var(--text-color-white);
    z-index: 1000;
    position: fixed;
    top: 0;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 90px;
    margin: 0 auto;
}

.logo {
    align-self: left;
}

.nav {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.nav--open {
    transform: translateX(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.nav__list {
    display: flex;
    column-gap: 20px;
}

.nav__item {
    transition: transform 0.3s;
}

.nav__item--active a {
    font-weight: 400;
    color: var(--secondary-color);
}

.nav__link {
    color: var(--primary-color);
    font-weight: 300;
    opacity: 0.5;
    font-size: var(--fs-15);
}

.nav__link:hover,
.nav__link:focus
 {
    /* transform: translateY(-0.15em); */
    color: var(--primary-color);
    opacity: 1;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    transition: all 0.4s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 25px;
    background-color: var(--primary-color);
    /* color: var(--primary-color); */
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 600px) {

    .nav {
        position: fixed;
        top: 90px;
        left: 0;
        background-color: var(--text-color-white);
        width: 100%;
        padding: 10px 0 15px;
        opacity: 1;
        transform: translateX(-100%);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav__link {
        font-size: var(--fs14);
    }

    .hamburger {
        display: block;
    }
        
}

/* end of navigation/header styling */

/* HERO SECTION STYLING */
.hero {
    margin-top: 100px;
    font-family: var(--font-text);
}
.hero_wrapper {
    background-color: var(--background-color-lightgrey);
    /* margin: 10%; */
    align-items: center;
}
.hero__infotext {
    font-family: var(--font-text);
    font-size: var(--fs-32);
    font-weight: 200;
    background-color: var(--primary-color);
    opacity: 60%;
    color: var(--text-color-white);
    margin: 20px auto;
    padding: 20px;
}
.hero_intro {
    display: flex;
    font-family: var(--font-text);
    font-size: var(--fs-32);
    font-weight: 200;
    background-color: var(--primary-color);
    opacity: 60%;
    padding: 20px;
    color: var(--text-color-white);
    width: 50%;
    align-self: center;
}
.hero_name {
    font-family: var(--font-heading);
    font-size: var(--fs-60);
    font-weight: 700;
    padding: 20px;
    color: var(--primary-color);
    margin-bottom: 20px auto;

}

.hero__link {
    align-self: center;
    justify-self: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--text-color-white);
    font-family: var(--font-text);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.hero_wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 75%;
    margin: 20vh auto;
}

.hero_infobox {
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero_image_wrapper {
    display: flex;
    justify-content: center;
    max-width: 250px;
}

.hero__img {
    width: 100%;
    height: auto;
    float: right;
}

@media (max-width: 768px) {
    .hero_wrapper {
        flex-direction: column;
    }
}

/* ABOUT ME SECTION  GRID  */
.aboutme {
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-family: var(--font-text);
    font-weight: 500;
    color: var(--primary-color);
}
.aboutme-container {
    background: var(--background-color-lightgrey);
    padding: 50px;
    font-size: 1rem;
    line-height: 1.8;
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
}

/* end of About me section  */


/* skills styling */
.skills-wrapper {
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px auto 50px auto;
    max-width: 75%;
    overflow: hidden;
}

.skills-wrapper::before,
.skills-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    width: 120px; 
    height: 100%;
    pointer-events: none; 
    z-index: 2;
}

.skills-wrapper::before {
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 100%); 
}

.skills-wrapper::after {
    right: 0;
    background: linear-gradient(to left, white 0%, transparent 100%); 
}

.skills-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    gap: 30px;
    z-index: 0;
    animation: move 10s linear infinite;
    /* width: 200%; */
}

@keyframes move {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skill-img {
    background-color: white;
    display: block;
    padding: 10px;
}
/* skills styling */




/* a / link and button styling */
a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--font-text);
  }

a:visited {
    /* visited link */
    color: var(--primary-color);
    text-decoration: none;
  }

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
    color: var(--primary-color)
  }

.header a:active {
    /* selected link */
    color: var(--secondary-color);
  }
a.button-contact-me,
a.button-contact-me:visited,
.contact-info a.button-contact-me,
.contact-info a.button-contact-me:visited {
    color: var(--text-color-white);
    font-family: var(--font-text);
    width: 100%;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: var(--primary-color) 1px 2px 3px 0px;
}
/* check styling button vs .button */
button, .button, .button-contact-me {
    border: none;
    font-family: var(--font-text);
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: var(--primary-color) 1px 2px 3px 0px;
  }

button:hover, .button:hover .button-contact-me:hover{
      /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    /* background-color: var(--secondary-color); */
    opacity: 80%;
  }

button:active, .button:active {
    background-color: var(--secondary-color);
  }

button:focus, .button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    /* background-color: var(--secondary-color); */
    opacity: 80%;
    border: 2px solid var(--primary-color);
  }

a.button {
    color: var(--text-color-white);
    font-family: var(--font-text);
}
.button-moreinfo {
    padding: 10px;
}
/* a / end of link and button styling */


/* PROJECTS    */
/*  grid project list styling  */

    .projects {
        margin-top: 80px;
        padding: 0;
    }
    picture {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
    .project-list {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
        gap: 40px;
    }
    
    .project-list__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: var(--background-color-lightgrey);
        gap: 1rem;
        color: var(--primary-color);
        min-height: auto;
        margin: 0px;
        margin-bottom: 40px;
        padding: 15px;
    }

    .projects__image {
        /* display: block; */
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .projects__name_wrapper {
        display: flex;
        justify-content: center;
        background-color: var(--text-color-white);
        width: 100%;
        padding: 10px;
    }
    .projects__name {
        display: flex;
        color: var(--primary-color);
        font-size: var(--fs-24);
        line-height: 1.3;
        font-weight: 700;
    }
    h3.projects__name  {
        margin: 0;
    }

    .project-list__item > button {
        width: 50%;
        align-self: center;
    }

    
    .project-techstack {
        color: var(--primary-color-lighter);
        background-color: var(--text-color-white);
        font-family: var(--font-text);
        line-height: 1.2;
        font-weight: 400;
        font-size: var(--fs-16);
        margin-top: 10px;
        padding: 10px;
        order: 2;
        text-transform: uppercase;
    }
    .project-techstack span {
        margin-inline-end: 5px;
    }
    .projects__links {
        font-family: var(--font-text);
        margin-top: 15px;
        margin-bottom: 10px;
        order: 3;
        display: flex;
        justify-content: center;
        width: 90%;
    }


    .projects__links a {
        background-color: var(--primary-color-lighter);
        text-decoration: none;
        font-size: var(--fs-16);
        font-weight: 400;
        color: var(--text-color-white);
        margin-inline-end: 30px;
        padding: 10px;
    }
    .project-info {
        font-size: var(--fs-16);
        order: 1;
        
        margin-bottom: 10px;
        padding: 15px;
        line-height: 1.4;
        background-color: var(--text-color-white);
        color: var(--primary-color);
        z-index: 0;
        span {
            font-weight: 700;
            line-height: 1.8;
        }
    }
   
    .project-info-text,
    .demo-account, 
    .project-note {
        font-size: var(--fs-16);
        font-family: var(--font-text);
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .demo-account h4 {
        color: var(--primary-color-lighter)
    }

    .project-image-wrapper,
    .project-info-wrapper {
        flex: 1;
    }
    .project-image-wrapper {
        display: flex;
        flex-direction: column;
        align-self: top;
    }
    .project-info-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .project__features li {
        list-style-type: disc;
        list-style-position: inside;
        font-size: var(--fs-15);
        padding-left: 10px;
    }

    @media (max-width: 750px) {
        .project-list__item {
            flex-direction: column;
        }

/*  end of grid project list styling  */

/*  start grid fallback */
/* .project-list__item {
    display: inline-block;
    width: 33%;
} */
.project-list__item__a {
    color: var(--text-color);
    align-self: center;
}
.project-list__item__a:visited {
    color: var(--text-color);
    align-self: center;
}

/* grid form styling */

   .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 10px;
    padding: 10px; 
}
.contact-info {
    padding: 10px;
    text-align: center;
 
}

.contact-info a {
    color: var(--primary-color);
    font-family: var(--font-text);
    font-size: var(--fs-24);
    font-weight: 300;
}

.form_field {
    display: block;
    padding: 5px;
}
.form_field input,
.form_field textarea {
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
}
/* end of grid form styling */
}


/*  media queries  */

@media all and (max-width: 750px) {      
    .navigation-list a {
        font-size: 14px;
    }
    .contact-form {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}

@media all and (max-width: 500px) {
    h1 {
        font-size: var(--fs-48);
    }
    h2 {
        font-size: var(--fs-40);
    }
}




@media all and (min-width: 501px) and (max-width: 750px) {

    h1 {
        font-size: var(--fs-32);
    }
    h2 {
        font-size: var(--fs-24);
    }
}


/*  Page Footer  */
footer {
    display: block;
    padding: 15px;
    width: 100%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.page-footer div {
    font-size: var(--fs-24);
    margin-bottom: 10px;
}
.footer-img {
    transition: all 0.7s;
}
.footer-img:hover {
    transform: scale(1.2, 1.2);
}
/* end of page footer */