/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Reset */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    background-color: hsla(181, 65%, 97%, 1);
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    line-height: 1,6;
    color: #2b2b2b;
    margin: 10px;
    padding: 10px;
}

main {
    padding: 20px;
    margin: 20px;
}


/* styling h1 - h3 */

h1 {
    /* background-color: var(--primary-color); */
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 32px;
    font-weight: 600;
    max-width: 500px;
    line-height: 1.2;
    text-align: left;
    color: #0e4243;
}

h2 {
    /* background-color: var(--primary-color); */
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 1.2;
    max-width: 600px;
    text-align: left;
    color: #0e4243;
}

h3 {
    background-color: hsla(181, 65%, 97%, 1);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 500px;
    text-align: left;
    color: #c93c20;
}
/* end of styling h1-h3 */

hr {
    color: #0e4243;
}
/* header/navigation styling */


.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 10px 5px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list__item--active {
    /* text-decoration: none; */
    font-weight: 400;
}

.navigation-list__item {
    color: #c93c20;
    font-weight: 400;
    -webkit-transition: font-size 0.3s;
    -o-transition: font-size 0.3s;
    transition: font-size 0.3s;
}
.navigation-list__item:hover {
    font-size: 18px;
}
/* navigation styling */

nav {
    padding: 10px;
    opacity: 90%;
}

nav img {
    /*background-color: var(--secondary-color); */
    padding: 4px;
    -webkit-box-shadow: 5px 5px #0e4243;
            box-shadow: 5px 5px #0e4243;


}
/* end of navigation/header styling */


/* introduction/profile styling */
.profile {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
  }

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile--text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
}
.introduction {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #0e4243;
    font-size: 28px;
    font-weight: 400;
}
/* end of introduction/profile styling */


/* ABOUT ME SECTION  GRID  */
.aboutme {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    line-height: 1.8;
    font-weight: 400;
    color: #0e4243;
    /* text-align: center; */
}

.aboutme ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    -ms-grid-rows: minmax(250px, 1fr);
    grid-template-rows: minmax(250px, 1fr);    
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.aboutme li {
    padding: 1em;
}
.aboutme li:nth-child(1) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(3) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(6) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(8) {
    background-color:hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(10) {
    background-color:hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(12) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}

.aboutme li:nth-child(15) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
.aboutme li:nth-child(13) {
    background-color: hsla(0, 0%, 90%, 1);
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
/* end of About me section  */


/* skills styling */
#skills {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1,6;
}
.skills-container {
    background-color: hsla(0, 0%, 90%, 1);
    padding: 10px;
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 2rem;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
.skill-img {
    background-color: white;
    border-radius: 2%;
    display: block;
    width: 100%;
    padding: 10px;
}
/* skills styling */


/* a / link and button styling */
a {
    color: #357b70;
  }

a:visited {
    /* visited link */
    color: #c93c20;
  }

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }

.page-header a:active {
    /* selected link */
    color: #c93c20;
  }
a.button-contact-me {
    color: white;
    width: 50%;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #0e4243;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
a.button-contact-me:visited {
    color: white;
    width: 50%;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #0e4243;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
.contact-info a.button-contact-me {
    color: white;
    width: 50%;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #0e4243;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
.contact-info a.button-contact-me:visited {
    color: white;
    width: 50%;
    line-height: 2;
    font-weight: 500;
    letter-spacing: 0.5px;
    background-color: #0e4243;
    padding: 10px 20px;
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
}
/* check styling button vs .button */
button {
    border: none;
    text-decoration: none;
    background-color: #0e4243;
    color: white;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
  }
.button {
    border: none;
    text-decoration: none;
    background-color: #0e4243;
    color: white;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
  }
.button-contact-me {
    border: none;
    text-decoration: none;
    background-color: #0e4243;
    color: white;
    padding: 10px 20px;
    letter-spacing: 0.5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
            box-shadow: #0e4243 1px 2px 3px 0px;
  }

button:hover, .button:hover {
      /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    /* background-color: var(--secondary-color); */
    opacity: 80%;
  }

button:active {
    background-color: #c93c20;
  }

.button:active {
    background-color: #c93c20;
  }

button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    /* background-color: var(--secondary-color); */
    opacity: 80%;
    border: 2px solid #0e4243;
  }

.button:focus {
      /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    /* background-color: var(--secondary-color); */
    opacity: 80%;
    border: 2px solid #0e4243;
  }

a.button {
    color: white;
}
.button-moreinfo {
    padding: 10px;
}
/* a / end of link and button styling */




/*  Page Footer  */
footer {
    display: block;
    padding: 10px;
    width: 100%;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.page-footer div {
    font-size: 24px;
}
.footer-img {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.footer-img:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
}
/* end of page footer */

/*  start grid fallback */
.project-list__item {
    display: inline-block;
    width: 33%;
}
.project-list__item__a {
    color: #2b2b2b;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.project-list__item__a:visited {
    color: #2b2b2b;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

    /* form styling */

    .contact-form {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 10px;
        padding: 10px; 
    }
    .contact-info {
        width: 50vh;
        padding: 10px;
        margin-left: 20px;
    }
    
    .contact-info a {
        color: #0e4243;
    }
    
    .form_field {
        display: block;
        padding: 5px;
    }
    .form_field input,
    .form_field textarea {
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
    }
    /* end of form styling */

/* end grid fallback */

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    
    .project-list__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
        background-color: hsla(0, 0%, 90%, 1);
        color: #2b2b2b;
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
        -webkit-box-shadow: #0e4243 1px 2px 3px 0px;
                box-shadow: #0e4243 1px 2px 3px 0px;
    }
    .project-list__item > button {
        width: 50%;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    
    .techstack {
        color: #c93c20;
        background-color: hsla(181, 65%, 97%, 1);
        line-height: 1.9;
    }
    .project-list__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}


/*  media queries  */

@media all and (max-width: 750px) {
       .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    .navigation-list a {
        font-size: 14px;
    }
    .contact-form {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
}

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 22px;
    }
}




@media all and (min-width: 501px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
}

/* @media screen and (min-width: 480px) {
    .aboutme ul {
        grid-template-columns: repeat(2, 1fr);
    }
} */

/*  Animation */

@-webkit-keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}

@keyframes color-change {
    from {
        fill: #edc655;
    }
    to {
        fill: #f76414;
    }
}
.sun {
    -webkit-animation: 5s color-change infinite alternate linear;
            animation: 5s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translateX(0, 50px);
                transform: translateX(0, 50px);
    }
    to {
        -webkit-transform: translateX(200px, 50px);
                transform: translateX(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translateX(0, 50px);
                transform: translateX(0, 50px);
    }
    to {
        -webkit-transform: translateX(200px, 50px);
                transform: translateX(200px, 50px);
    }
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}